[submodule "nvim.config/molleweide"]
	path = molleweide-nvim
	url = https://github.com/molleweide/mollew-config.nvim.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/molleweide/cheovim.git
[submodule "nvim.config/doom"]
	path = nvim.config/doom
	url = https://github.com/molleweide/doom-nvim.git
