[submodule "nvim.config/molleweide"]
	path = molleweide-nvim
	url = https://github.com/molleweide/mollew-config.nvim.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/molleweide/cheovim.git
[submodule "doom-nvim"]
	path = doom-nvim
	url = https://github.com/molleweide/doom-nvim.git
[submodule "chad-nvim"]
	path = chad-nvim
	url = https://github.com/molleweide/NvChad.git
[submodule "neovhy-nvim"]
	path = neovhy-nvim
	url = https://github.com/molleweide/neovhy.git
[submodule "hammerspoon"]
	path = XDG_HOME/.hammerspoon
	url = git@github.com:molleweide/config_hammerspoon.git
