snippet tmptodo "Todo template"
# ${1}

--------------

## ${2}

- ${4}

## ${3}

## $1 RNDM
endsnippet


snippet dl "double lines"
-------------------------------------------
-------------------------------------------
endsnippet
